*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'prompt', sans-serif;
    transition: 0.2s ease-in-out;
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: #9575cd;
    display : flex ;
    align-items: center;
    


    
}

